stages:
  - deploy

deploy_website:
  stage: deploy
  image: amazon/aws-cli
  script:
    - aws --version
    - aws s3 sync public/ s3://$AWS_BUCKET_NAME --delete
    - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DIST_ID --paths "/*"