stages:
  - deploy

deploy_website:
  stage: deploy
  image: amazon/aws-cli:2.15.5
  script:
    # Export AWS credentials
    - export AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID"
    - export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY"
    - export AWS_DEFAULT_REGION="$AWS_DEFAULT_REGION"

    # Debug: make sure AWS CLI works
    - aws s3 ls

    # Sync folder to S3
    - aws s3 sync public/ s3://$AWS_BUCKET_NAME --delete

    # Invalidate CloudFront cache
    - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DIST_ID --paths "/*"

  only:
    - main
