.map-container {
	position: relative;
	width: 100%;
	margin-top: 10px;
	border-radius: 6px;
	overflow: hidden;
	text-align: center;
}
.map-container iframe {
	width: 80%;
	height: 450px;
	border: 0;
}

.sponsor-img-container {
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f8f9fa;
	border-bottom: 1px solid #dee2e6;
	border-top: 1px solid #dee2e6;
	overflow: hidden;
	background-color: white;
	margin-bottom: 10px;
}

.sponsor-img-container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
