@font-face {
    font-family: "Roboto";
    src: url("fonts/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Motiva";
    src: url("fonts/web_fonts/motiva/MotivaSansExtraBold.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Motiva", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

#thumbtext {
    transform: translateY(1.5em);
    opacity: 85%;
}

#info {
    text-shadow: 0.1em 0.1em 0.2em black;
}

#maintable {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
table {
    border-collapse: collapse;
}

#scroll-tr {
    height: 3em;
    width: 55em;
    transform: translateY(-5em);
}

#scrollbar {
    position: relative;
    width: 55em;
    height: 1.5em;
}

#scrollbody {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 0.25em;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    box-shadow: 0 0 1em #000000aa;
}

#scrollthumb {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2.5em;
    height: 1em;
    border: none;
    border-radius: 1em;
    background: white;
    box-sizing: border-box;
}

html {
    background-color: #1a1a1a;
    color: white;
}

#bgtable {
    position: absolute;
    width: 100%;
    height: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
}

.center {
    height: 100vh;
}

.center * {
    text-align: center;
}

#food-banks-btn {
    background-color: #379eff;
    margin: 0.5em;
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em #00000067;
    padding: 0.75em 1em 0.75em 1em;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

#select-tr {
    margin: 2em;
}

#nav-buttons {
    margin-top: 2em;
}

#submit-tr {
    border-radius: 0.25em;
    padding: 0.75em 1.5em 0.75em 1.5em;
}

#sponsors-btn {
    background-color: #379eff;
    margin: 0.5em;
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em #00000067;
    padding: 0.75em 1.5em 0.75em 1.5em;
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#programs-btn {
    background-color: #379eff;
    margin: 0.5em;
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em #00000067;
    padding: 0.75em 1.5em 0.75em 1.5em;
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#about-btn {
    background-color: #379eff;
    margin: 0.5em;
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em #00000067;
    padding: 0.75em 1.5em 0.75em 1.5em;
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.filler {
    height: 1em;
}

input[type="file"] {
    display: none;
    visibility: collapse;
}

h1 {
    text-align: center;
    font-size: 5em;
    text-shadow: 0 0 0.1em #00000067;
    color: white;
}

p {
    font-size: 1.5em;
    text-shadow: 0 0 0.5em #00000067;
}

img {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 2s;
}

.fade-in {
    opacity: 1;
    transition: opacity 2s;
}
